.mobile>.fondEcran>img:nth-child(1) {
    display: none;
}

.mobile>.fondEcran>img[alt="img de fond ordi"] {
    display: initial !important;
    width: calc(165% - var(--WidthImg));
    height: auto;
    transform: translateX(calc(-22% + var(--TranslateImg)));
}

.mobile .conteneurApp img {
    width: calc(6% - var(--WidthPtitImg)) !important;
}

.mobile .conteneurApp:nth-child(2) {
    transform: translate(calc(-15% + var(--TranslatePtitImg)), calc(53% - var(--TranslateYPtitImg))) !important;
}

.mobile .conteneurApp:nth-child(3) {
    transform: translate(calc(-28% + var(--TranslatePtitImg)), calc(30% - var(--TranslateYPtitImg))) !important;
}

.mobile .conteneurApp:nth-child(4) {
    transform: translate(calc(-28% + var(--TranslatePtitImg)), calc(53% - var(--TranslateYPtitImg))) !important;
}

.mobile .conteneurApp:nth-child(5) {
    transform: translate(calc(-28% + var(--TranslatePtitImg)), calc(42% - var(--TranslateYPtitImg))) !important;
}

.mobile .conteneurApp:nth-child(6) {
    transform: translate(calc(-15% + var(--TranslatePtitImg)), calc(42% - var(--TranslateYPtitImg))) !important;
}


@media screen and (min-width: 1266px) {
    .mobile>.fondEcran>img[alt="img de fond ordi"] {
        transform: translateY(-20%);
    }
}