html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #242327;
    font-family: Arial, Helvetica, sans-serif;
}

.ordi {
    display: none;
}

.mobile {
    max-height: 100vh;
    display: grid;
    overflow: hidden;
}

.mobile>* {
    grid-column: 1;
    grid-row: 1;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: url(#Gradient1);
    stroke: none;
}

.mobile>.fondEcran>img {
    width: 100%;
}

.mobile>.fondEcran>img[alt="img de fond ordi"] {
    display: none;
}

.mobile .conteneurApp {
    font-family: 'Syncopate', sans-serif;
    width: 100%;
    display: grid;
    grid-template-rows: fit-content(50%);
    align-items: start;
    justify-items: center;
    pointer-events: none;
    /* text-align: center; */

}

@keyframes flotte {
    0% {
        transform: translate(0%, 2.5%) rotate(2.5deg);
    }

    100% {
        transform: translate(-0%, -7%) rotate(-2.5deg);
    }
}

.mobile .conteneurApp a {
    text-decoration: none;
    color: black;
    pointer-events: visible;
}

.mobile .conteneurApp img {
    width: 10%;
    pointer-events: visible;
    animation: flotte infinite alternate-reverse linear;
    animation-duration: calc(var(--temps));
}

.mobile .conteneurApp:nth-child(2) {
    transform: translate(0%, 60%);
}

.mobile .conteneurApp:nth-child(3) {
    transform: translate(-15%, 24%);
}

.mobile .conteneurApp:nth-child(4) {
    transform: translate(-15%, 60%);
}

.mobile .conteneurApp:nth-child(5) {
    transform: translate(-15%, 37%);
}

.mobile .conteneurApp:nth-child(6) {
    transform: translate(0%, 37%);
}

#deux {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    background-color: rgb(248, 234, 234);
}

.bulle {
    position: absolute;
    top: 100%;
    border-radius: 100%;
    background-color: antiquewhite;
    animation: haut 4.5s;
}

@keyframes haut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200vh);
    }
}

#deux>* {
    align-self: start;
}

.test {
    width: 80%;
    animation: venu 0.5s linear;
    color: rgb(32, 33, 34);
}

.photoMoi {
    width: 200px;
}

.photoMoi>img {
    width: 100%;
    border-radius: 25%;
}

/*@media screen and (min-width: 645px) {
    .mobile>img:nth-child(1) {
        width: 175%;
        transform: translate(-23%, -18%);
    }
}*/