.mobile>.fondEcran>img:nth-child(1) {
    transform: translateY(-17%);
}

.mobile .conteneurApp:nth-child(2) {
    transform: translate(0%, 44%) !important;
}

.mobile .conteneurApp:nth-child(3) {
    transform: translate(-15%, 7%) !important;
}

.mobile .conteneurApp:nth-child(4) {
    transform: translate(-15%, 44%) !important;
}

.mobile .conteneurApp:nth-child(5) {
    transform: translate(-15%, 20%) !important;
}

.mobile .conteneurApp:nth-child(6) {
    transform: translate(0%, 20%) !important;
}